@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Instrument+Sans:wght@500&family=Instrument+Serif&display=swap');

:root {
  --rust-black: #191919;
  --white: #ffffff;
  --gray: #7b7b7b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  background-color: #b4cac6;
  color: var(--rust-black);
}

#root {
  width: 100%;
}
